@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --dark-green: #1db954;
    --light-green: #1ed760;
    --white: #fff;
    --black: #212121
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: #DCDCDC;
    background-color: var(--black);
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0em 3em;
}

h1 {
    color: #F97E2B;
    font-size: 3em;
}

/* SECTION OPEN AND CLOSE */
body>section>button h2 {
    pointer-events: none;
}

body>section>button {
    font-size: 1em;
    color: #DCDCDC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    background: transparent;
    border: none;
    cursor: pointer;
}

body>section>button:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-top: 1em solid #fff;
}
}

body>section>button:active {
    outline: 0;
}


body>section>button+.games,
body>section>button+.platforms {
    display: none;
}

body>section>.openSection+.games,
body>section>.openSection+.platforms {
    display: grid;
}




.games {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
}

.games h2 {
    grid-column: 1 / -1;
    margin: 0;
    gap: 0;
}

.games img {
    width: 100%;
    object-fit: cover;
    height: 40vh;
    margin: 0;
}

.game header {
    background-color: #DCDCDC;
    color: var(--black);
    padding: .5em 1em;

}

.game a {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    text-decoration: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
}

.game a span {
    background-color: white;
    color: black;
    padding: .3em .5em;
}

.game a:hover {
    opacity: .75;
}

.game h2 {
    margin: 0;
}

.game h3 {
    margin: 0;
    font-size: .9em;
}

.game .thumbnail-container {
    position: relative;

}

.game .thumbnail-container .genre {
    position: absolute;
    top: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .9em;
    right: 0;
    background-color: white;
    margin: 0;
    color: black;
    padding: .5em;
}

/* PLATFORMS */
.platforms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.platform {
    position: relative;
    width: 100%;
    height: 300px;
}

.platform img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.platform .overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.platform .image-overlay {
    z-index: 2;
    opacity: .75;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    display: block;
}

.platform h3 {
    font-weight: 300;
    display: flex;
    align-items: center;
}

.platform h3 span {
    margin-left: .25em;
    font-weight: bold;
    font-size: 1.5em;
}